@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;0,500;0,700;1,300;1,400;1,700&display=swap");

:root {
    --lt-blue: #d8e6ec;
    --navy-blue: #34495e;
    --text: #e0fbfc;
    --blue: #76b8f9;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Ubuntu", sans-serif;
    background-color: var(--lt-blue);
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100vw;
    min-height: 100vh;
}

.container {
    width: 80vmin;
    height: fit-content;
    background-color: var(--navy-blue);
    border-radius: 1.2rem;
    position: relative;
    padding: 1.5rem 1rem;
    animation: bounce 5s ease-in-out infinite;
    animation-direction: alternate;

    //for box shadow
    &::after {
        content: "";
        position: absolute;
        bottom: 0rem;
        left: 50%;
        transform: translateX(-50%);
        width: 95%;
        height: 10px;
        box-shadow: 0 40px 25px rgba(52, 73, 94, 0.8);
        background-color: transparent;
        border-radius: 80px / 4px;
    }

    .img {
        display: flex;
        justify-content: center;
        width: 100%;
        user-select: none;
        img {
            width: 32vh;
        }
    }

    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    p {
        margin-top: 0.7rem;
        color: var(--text);
        text-align: justify;
        opacity: 0;
        transition: 1.5s ease;
    }
    .fade {
        opacity: 1;
    }

    button {
        position: relative;
        left: 50%;
        transform: translate(-50%);
        margin: 1.8rem 0 0;
        padding: 0.6rem 1rem;
        background-image: radial-gradient(
            100% 100% at 100% 0,
            #5adaff 0,
            #5468ff 100%
        );
        border: 0;
        border-radius: 6px;
        color: var(--text);
        box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
            rgba(45, 35, 66, 0.3) 0 7px 13px -3px,
            rgba(58, 65, 111, 0.5) 0 -3px 0 inset;
        box-sizing: border-box;
        cursor: pointer;
        display: inline-flex;
        height: 48px;
        align-items: center;
        line-height: 1;
        overflow: hidden;
        justify-content: center;
        position: relative;
        touch-action: manipulation;
        user-select: none;
        -webkit-user-select: none;
        appearance: none;
        will-change: box-shadow, transform;
        transition: box-shadow 0.15s, transform 0.15s;

        &:hover {
            box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
                rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
        }
        &:focus {
            border: none;
            outline: none;
        }

        &:active {
            box-shadow: #3c4fe0 0 3px 7px inset;
        }
    }
}

@keyframes bounce {
    0% {
        transform: translatey(0px);
    }
    50% {
        transform: translatey(-20px);
    }
    100% {
        transform: translatey(0px);
    }
}
